@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
  padding-right: 10px;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background-color: gray;
}
.outlet{
  width: 100vw !important;
}


 @media screen and (max-width:400px){
  .outlet{
    max-width: 80vw !important;
  }
}  

@media screen and (max-width:1300px){
  .outlet{
    max-width: 85vw !important;
  }
}  


